*{
	margin: 0px;
	padding: 0px;

}
@-webkit-keyframes load{
	from{opacity: 0;}
	to{opacity: 1;}
/*	0%{background-color: red;}
	50%{background-color: yellow;}
	100%{background-color: green;}*/
}
body{
	animation:load ease-in 1;
	animation-duration: 1.5s;
	animation-fill-mode:forwards;
}
html,body{
	height: 100%;
	scroll-behavior: smooth;
}
.palallax1 h2{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 50px;
	display: inline-block;
	background-color:#656565;


}
.menu{
	background-color: #ca4947;
	height: 70px;
	width: 100%;
	left: 0;
	position: fixed;
	box-shadow: 0px 0px 15px black;
	z-index: 1;

}
.menu ul{
	padding-top: 20px;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a:hover{
	color:#e67e22;
}
.menu ul li a{
	padding-left: 80px;
	color: #fff;
	text-transform: uppercase;
 	text-decoration: none;
 }
 .Search-bar{
 	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;


 
 }
  .Search-bar input[type="text"]{
 	width:1000px;
 	height: 60px;
 	background-image: url("img/searchicon.png");
  	background-position: 12px; 
  	background-repeat: no-repeat;
  	background-size: 30px;
 	outline: none;
 	border-radius: 10px;
 	border: 3px solid #656565;
 	opacity: .70;
 	padding: 10px 50px;


 }
 input:focus{
	color: black;
}
 input,select,textarea{
	color: #fff;
	font-size: 25px;
}
.btn{
	margin-top: 20px;
	display: block;
	position: relative;

}
.btn:hover .click-hover{
	height: 100%;
	bottom: 0;
	display: inline-block;
}
.click-hover{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	width: 100%;
	height: 0;
	background-color: red;

}
.palallax1-text{
	position: relative;

}
.palallax1-text:hover .hover{
	height: 100%;
	bottom: 0;


}
.hover{
	position: absolute;
  	bottom: 100%;
  	left: 0;
  	right:0;
 	background-color: #cdffeb;
  	overflow: hidden;
 	width:100% ;
 	height: 0;
  	transition: .8s ease;

}
.font{
	font-size: 20px;
	font-family: italic;
}
.space{
	letter-spacing: 5px;
}
.box-icon{
	margin-top: 70px;
}
.box-items{
}
.box-items i{
	font-size: 70px;
	text-align: center;
	transition: 1s ease;
	color: #0f0a3c;
}
.header{
	padding-top: 20px;
}
.box-items :hover i{
	cursor: zoom-in;
	color: #fed9ca;
	transform: scale(3);
}
.box:hover{
	background-color:#07456f;
	cursor: n-resize;
	transition: .5s ease;
	transform: rotate(19deg);
	border-radius: 20%;
	box-shadow: 0px 0px 40px black;
}
.text-color{
	color:#ff5252;
}
.box{
	padding: 80px ;
	border-radius: 10px;
	background-color: #009f9d;
	box-sizing: border-box;

}
.Search-bar a{
	padding: 14px 50px;
	background-color:#6C757D;
	text-decoration: none;
	border-radius: 8px;
	font-size: 25px;
	color: #fff;

}
.Search-bar a:hover{
	background-color: #2c3e50;

}
.palallax1{
	position: relative;
	/*padding-top: 25%;*/
	text-align: center;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-image: url("img/gvQ9NhQP8wbbM32jXy4V3j.jpg");
}
.palallax1-text {
	height: 200px;
	width: 100%;
	background-attachment: fixed;
	background:transparent;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.palallax1-text h3{
	padding-top: 20px;

}
.palallax1-text p{
	text-align: center;
	word-wrap: break-word;
}
.palallax2{
	clip-path:geometry-box;
	padding-top: 12%;
	text-align: center;
	width: 100%;
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("img/image2-NORMAL.jpg");
}
h2{
	font-size: 22px;
	border-radius: 10px;

}
.palallax2 h2{
	color: #fff;
	text-transform: uppercase;
	padding: 8px 50px;
	border-radius: 10px;
	display: inline-block;
	background-color:#656565;


}
.palallax3{
	padding-top: 12%;
	text-align: center;
	width: 100%;
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("img/Best-wedding-photography-pretoria-banner8.jpg");
}
.palallax3 h2{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 50px;
	display: inline-block;
	background-color:#656565;


}
.palallax1-text h3{
	color: #ddd;

}
.palallax1-text p{
	text-align: justify;
}
.palallax4{
	padding-top: 25%;
	text-align: center;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("img/gif2.gif");
}
.palallax4 h2{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 50px;
	display: inline-block;
	background-color:#656565;


}
 h2:hover{
	background:yellow;
	cursor:pointer;
	color: black;
}
.fixed{
	height: 400px;
}
.footer p span{
	font-size: 20px;
	color:red;
	font-weight: bold;
}
.footer{
	position: relative;
	color: #fff;
	width: 100%;
	height: 200px;
	background-color: #282E34

}
h3{
	text-transform: uppercase;
}
.footer p{
	font-size: 20px;
	transform: translateY(70px);
}
.icons-box{
	float: right;
	padding: 16px 5px;
	box-sizing: border-box;
	background-color: #16a085;
	transform: translateY(70px);
	margin-left: 50px;
	border-radius: 50%;
}

.icons-box i{
	font-size: 20px;
	color: #fff;

	
}
.icons-box:hover{
	cursor: pointer;
	box-shadow: 0px 0px 40px black;
}
.icons-box i:hover{
	transform: scale(1.2);
	transition: .5s ease;
	color: black;
}
.copy p{
	font-size: 15px;
}
.center{
	color: #ccc;

}
